@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat";
  background-color: #131313;
}

a:hover {
  color: #C2AB81;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.container {
  width: 100vw;
  height: 100vh;
}

.main-page {
  height: 88vh;
  width: 100vw;
  background: url("../images/main.png");
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  z-index: 2;
  color: white;
  width: 98%;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__nav-btns {
  display: none;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0 0 0 15px;
}
.header__link {
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.header__left-bar {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.header__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__navigation {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navigation__burger {
  display: none;
}

.header__navigation-tab {
  height: 100%;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92px;
  height: 60px;
  border: 1px solid;
  border-color: #8b8b8b;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.phone-icon {
  position: absolute;
  left: 34px;
  top: 20px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.header__navigation-text {
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.header__right-bar {
  width: 24%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1680px) {
  .header__right-bar {
    width: 28%;
  }
}
@media (max-width: 1600px) {
  .main-page .main-page__title-block {
    height: 85%;
  }
  .main-page .main-page__title-block-elems {
    width: 100%;
  }
  .main-page .main-page__title {
    width: 51%;
  }
}
@media (max-width: 1530px) {
  .header__navigation-tab {
    width: 80%;
  }
}
@media (max-width: 1440px) {
  .header__right-bar {
    width: 32%;
  }
}
@media (max-width: 1278px) {
  body.lock {
    overflow: hidden;
  }
  .header__logo {
    z-index: 3;
  }
  .header__navigation {
    width: 56%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__navigation-tab {
    width: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__right-bar {
    width: 50%;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  #header-btn {
    width: 252px;
    height: 60px;
  }
  .header__burger span {
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after { /* с помощью этих псевдоэлементов мы создаем вид меню-бургер(линии)  */
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    /*     transform: scale(0); */
    width: 90%;
    top: 6px;
  }
  .header__burger.active:before {
    width: 60%;
    /* transform:rotate(45deg); */
    top: 15px;
  }
  .header__burger.active:after {
    width: 40%;
    /*     transform:rotate(-45deg); */
    bottom: 20px;
  }
  .header__menu {
    z-index: 2;
    overflow: visible; /* содержимое контента в случаях, когда он не помещается на экране, при параметре можно проскроллить    */
    position: fixed;
    top: -200%; /* изначально мы ставили значение top:0, но меню было на весь экран, мы прячем его с помощью top: -100% */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #131313;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0; /* мы разворачиваем наше меню с помощью top:0  */
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__list {
    margin-top: 59px;
    margin-left: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__list li {
    margin: 0 0 20px 0;
    text-align: center;
  }
  .header__link {
    /*     color: #808080; */
    /*     -webkit-text-stroke: 2px black; 
        text-shadow: none; */
    -webkit-text-stroke: 1px #808080;
    color: transparent;
    font-size: 36px;
    line-height: 54px;
  }
  .title {
    font-size: 38px;
  }
  .header__phone-icon {
    z-index: 2;
  }
  .header__submit-btn {
    z-index: 2;
  }
}
@media (max-width: 1108px) {
  .main-page .main-page__title-block {
    height: 85%;
  }
  .main-page .main-page__title-block-elems {
    width: 100%;
  }
  .main-page .main-page__title {
    width: 51%;
  }
  .main-page .title {
    font-size: 39px;
  }
}
@media (max-width: 888px) {
  .header__right-bar {
    width: 67%;
  }
}
@media (max-width: 768px) {
  #header-btn {
    width: 200px;
    height: 60px;
  }
  .header {
    width: 100vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*     &__right-bar {
          display: none;
        } */
  }
  .header__right-bar {
    margin: 0 40px 0 0;
    width: 42%;
  }
  .header__navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* &-tab {
      width: 60%;
    } */
  }
  .header__left-bar {
    width: 36%;
  }
  .header__burger {
    margin: 0 0 0 0;
  }
  .main-page .main-page__title-block {
    width: 86%;
  }
  .main-page .main-page__title-block {
    margin-left: 49px;
  }
  .main-page .main-page__title-block-elems {
    width: 90%;
    height: 37%;
  }
  .main-page .main-page__title {
    width: 80%;
  }
  .main-page .title {
    font-size: 38px;
  }
  .main-page__subtitle {
    width: 75%;
  }
  .cards-page .cards-page__header {
    left: 49px;
  }
  #popup {
    width: 60%;
  }
  #label-text {
    font-size: 16px;
  }
}
@media (max-width: 739px) {
  .header__nav-btns.active {
    width: 100%;
    height: 27%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header #nav__phone-icon {
    top: 33%;
    left: 48%;
  }
  .header__right-bar {
    display: none;
  }
  .header__left-bar {
    width: 89%;
  }
  .header__burger {
    margin: 0 200px 0 0;
  }
  .header__phone-icon, #nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 330px;
    height: 60px;
  }
  #nav-btn {
    margin-top: 5px;
  }
}
@media (max-width: 425px) {
  .header__navigation {
    width: 95%;
  }
  .header__burger {
    margin: 0 150px 0 0;
  }
  .header__right-bar {
    display: none;
  }
  .header__link {
    font-size: 20px;
    line-height: 30px;
  }
  .header__nav-btns.active {
    height: 48%;
  }
  .main-page .main-page__title-block-elems {
    height: 30%;
  }
  .main-page .main-page__title {
    width: 81%;
  }
  .main-page .title {
    line-height: 24px;
    font-size: 20px;
  }
  .main-page .main-page__subtitle {
    width: 80%;
  }
  .main-page .main-page__subtitle-text {
    font-size: 14px;
    line-height: 21px;
  }
  #main-btn {
    width: 219px;
  }
  .cards-page .cards-page__header-text {
    font-size: 20px;
    line-height: 24px;
  }
  #popup {
    width: 70%;
  }
  #label-text {
    font-size: 12px;
  }
  .popup__block-input {
    margin-top: 50px;
  }
}
@media (max-width: 320px) {
  .header__navigation {
    width: 78%;
  }
  .header__burger {
    margin: 0 70px 0 0;
  }
  .header__phone-icon, #nav-btn {
    width: 240px;
  }
}
@media (max-width: 553px) {
  .main-page .main-page__title-block-elems {
    height: 30%;
  }
  .main-page .main-page__title {
    width: 81%;
  }
  .main-page .title {
    line-height: 24px;
    font-size: 20px;
  }
  .main-page .main-page__subtitle {
    width: 80%;
  }
  .main-page .main-page__subtitle-text {
    font-size: 14px;
    line-height: 21px;
  }
  #main-btn {
    width: 219px;
  }
  .cards-page .cards-page__header-text {
    font-size: 20px;
    line-height: 24px;
  }
}
.submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 282px;
  height: 60px;
  background-color: #C2AB81;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.submit-btn__line {
  background-color: white;
  width: 8px;
  height: 60px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  margin-left: 5px;
}
.submit-btn__line:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
}

.header__submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit-btn-text {
  font-size: 12px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.submit-btn-text:hover {
  cursor: pointer;
}

.main-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 54%;
}
.main-page__subtitle-text {
  font-size: 16px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  line-height: 24px;
}
.main-page__title-block {
  color: white;
  z-index: 3;
  width: 100%;
  height: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 100px;
}
.main-page__title-block-elems {
  margin-bottom: 50px;
  width: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30%;
}

.title {
  line-height: 52px;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-page__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards-page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/main.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #131313;
  background-blend-mode: darken;
}

.cards-page__header {
  width: 100%;
  height: 19%;
  left: 105px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.cards-page__header-text {
  text-transform: uppercase;
  color: white;
  font-size: 42px;
  font-weight: 700;
  line-height: 51px;
}

.cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75%;
  width: 92%;
}
.cards-block__btn {
  margin-top: 35px;
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards-block .cards-block__elems {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards-block #card {
  margin: 20px 0;
  background-color: white;
  width: 320px;
  height: 621px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards-block #card .card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.cards-block #card .card__text-block {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards-block #card .card__text-block .card__text-title {
  width: 88%;
  height: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.cards-block #card .card__text-block .card__text-title .card__title-text {
  color: #171717;
  font-weight: 700;
  font-family: "Mulish";
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 1.5px;
}
.cards-block #card .card__text-block .card__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 88%;
  height: 10%;
}
.cards-block #card .card__text-block .card__subtitle .card__subtitle-text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.cards-block #card .card__text-block .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 88%;
  height: 42%;
}
.cards-block #card .card__text-block .card__description .card__description-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
}
.cards-block #card .card__text-block .card__posted {
  width: 88%;
  height: 7%;
}
.cards-block #card .card__text-block .card__posted .card__posted-text {
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}
.cards-block #card .card__text-block .card__posted .card__posted-text .card__posted-span {
  font-weight: 700;
}
.cards-block #card .card__btn-block {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 272px;
  height: 50px;
  background-color: #171717;
}
.cards-block #card .card__btn-block .card__btn:hover {
  cursor: pointer;
}
.cards-block #card .card__btn-block .card__btn .card__btn-text {
  color: white;
}

.new-card {
  display: none;
}

.card__title-text {
  color: #171717;
  font-weight: 700;
  font-family: "Mulish";
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 1.5px;
}

.new-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.new-cards br {
  display: none;
}

.popup__container {
  width: 100%;
  height: 100vh;
}

.popup {
  visibility: hidden;
  border: 1px solid white;
  width: 40%;
  height: 20%;
  background-color: #131313;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  padding: 0 30px 60px;
  color: white;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.popup__block-input {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 30px 0;
}
.popup__elems {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__elems #popup__input {
  text-align: center;
  color: white;
  background: transparent;
  width: 80%;
  border-bottom: 1px solid black;
}
.popup__elems #popup__input:focus {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border-bottom: 1px solid wheat;
}
.popup__block-label {
  text-align: center;
  margin-top: 20px;
  height: 20%;
  width: 90%;
}
.popup #label-text {
  font-size: 18px;
}

body.lock {
  overflow: hidden;
}

.open-popup {
  width: 40%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-btn {
  width: 50%;
  height: 80%;
}